.add-content-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    font-weight: bold;
    color: black;
    background-color: #FFEE58; 
    text-decoration: none;
    border-radius: 5px;
}

.class-details{
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 150px;
    background-color: #B39DDB;
}   
.title{
    font-size: 60px;
    font-weight: bold;

}
.description{
    font-size: 20px;
    margin-top: 10px;
}
