/* Font Family */
body {
    font-family: 'Roboto Bold', sans-serif; /* Replace with preferred font-family */
    
}

/* Class Cards Container */
.class-cards-container {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    padding: 20px;

}

/* Class Card Container */
.class-card-container {
    width: 300px; 
    background-color: #FFFFFF;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative; /* Added position relative */
}

.class-card-container:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.class-card-container .class-card-image {
    width: 100%;
    background: linear-gradient(to bottom right, #ffd9d9, #d9ccff, #cce6ff);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    

}


.class-title {
    font-size: 30px;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    padding: 10px;
   
}


.teacher-name {
    margin-top: 10px;
    font-size: 18px; 
    padding: 10px;
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
}

.card-items { 
    margin: 5px;
    color: black;
    text-decoration: none;
}
.card-items:hover{
    text-decoration: underline;
}

.class-card-icon-containers {
    display: flex;
    justify-content: space-between;
    
}


.class-card-icon-containers > div {
    margin: 0 8px;
    cursor: pointer;
    transition: color 0.3s ease-in-out; 
    color: #5e6e98; 
}

.class-card-icon-containers > div:hover {
    color: #e4ba4c; 
}
.navlink{
    text-decoration: none;
}
.class-code-card{
    padding: 5px;
}

.iconsss{
    display: flex;
}