.class-header{
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 180px;
    background-color: pink;
    justify-content: space-between;
    background: linear-gradient(to bottom right, #ffd9d9, #d9ccff, #cce6ff);
    
}


.title{
    font-size: 40px;
    font-family: 'roboto';
    font-weight: bolder;
}

.class-code{
    justify-self: flex-end;
    font-family: 'Allura';
    font-size: 13px;
    font-weight: bold;


}

.description{
    margin-bottom: 15px; /* Add margin at the bottom to create space */
    padding: 15px 5px;
    font-family: 'Roboto';
    font-size: 18px;
    
}

.class-info-bar{
    
    display: flex;
    width: 50%;
    justify-self: flex-end;
    

}
.class-code{
    font-size: 15px;
    text-decoration: underline;
}


.class-details{
    
    padding: 10px;
    margin: 10px;

}


.back-btn {
    color: #000; /* Set your desired color */
    font-size: 30px !important; /* Set the icon size */
  }
  

.class-info{
    
    font-size: 25px !important;
    cursor: pointer;
    color: black;
    padding: 0px 10px;
    
}

.student-list-heading{
    font-family: 'Roboto';

}
.filter-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .filter-form-input {
    /* Add your styles for the select input */
    padding: 8px;
    /* Additional styles */
    margin-right: 10px; /* Adjust spacing */
  }
  
  .filter-content-btn {
    /* Add your styles for the buttons */
    padding: 8px 16px;
    /* Additional styles */
    cursor: pointer;
  }
  