.content-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
  width: 70%;
}

.heading {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}


.icons-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.icon-items {
  font-size: 24px;
  margin-left: 10px;
  cursor: pointer;
  color: black;
}

.content-description{
  width: 100px;
}

.inner-div{
  font-weight: bold;
  cursor: pointer;
}