.create-content-form {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.create-content-heading {
  margin-bottom: 20px;
  font-size: 40px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.create-content-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-content-form-element {
  margin-bottom: 15px;
}


.content-type,
.content-file-select,
.content-submit {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; 
}


.content-description{
  height: 100px !important;
  width: 485px;
  padding: 8px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  
}


.content-submit {
  background-color: #6cab74;
  color: white;
  cursor: pointer;
  font-size: 20px;
}

.class-back-btn{
  color: black;
  cursor: pointer;
  text-align: left;
  font-size: 40px !important;
}