.create-class-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; 
}

.create-class-form {
    background-color: #FFFFFF;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input--class--title, .input--class--description {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: calc(100% - 20px);
    box-sizing: border-box;
}

.submit-btn {
    padding: 10px 20px;
    background-color: #6cab6c;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #609f60;
}
